In [5]:
import pandas as pd
path = r"C:\Users\seanz\VSCode_WS\GrowthPhase\data\companies_clean_sample.csv"
df = pd.read_csv(path)
df.head()
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175495 entries, 0 to 175494
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   domain    175495 non-null  object
 1   industry  175495 non-null  object
dtypes: object(2)
memory usage: 2.7+ MB

               domain                             industry
count          175495                               175495
unique         175477                                  148
top     inpl-nancy.fr  information technology and services
freq                2                                11287

In [6]:
df_raw = pd.read_csv(r"C:\Users\seanz\VSCode_WS\GrowthPhase\data\companies.csv", nrows=5)
print(df_raw.columns)

Index(['Unnamed: 0', 'name', 'domain', 'year founded', 'industry',
       'size range', 'locality', 'country', 'linkedin url',
       'current employee estimate', 'total employee estimate'],
      dtype='object')

In [7]:
raw_path = r"C:\Users\seanz\VSCode_WS\GrowthPhase\data\companies.csv"
clean_path = r"C:\Users\seanz\VSCode_WS\GrowthPhase\data\companies_clean_full.csv"

df = pd.read_csv(raw_path)

# Basic cleanup
df.columns = [c.strip().lower().replace(' ', '_') for c in df.columns]
df = df.dropna(how='all')
df = df.drop_duplicates(subset=['domain'], keep='first')

df.to_csv(clean_path, index=False)
print("✅ Cleaned data saved:", clean_path)
print(df.shape)
print(df.columns)

✅ Cleaned data saved: C:\Users\seanz\VSCode_WS\GrowthPhase\data\companies_clean_full.csv
(5474765, 11)
Index(['unnamed:_0', 'name', 'domain', 'year_founded', 'industry',
       'size_range', 'locality', 'country', 'linkedin_url',
       'current_employee_estimate', 'total_employee_estimate'],
      dtype='object')

NameError: name 'df' is not defined